.place-order-container {
    width: 100%;
}
.place-order-inner-container {
    width: 95%;
    margin: clamp(24px, 6vw, 90px) auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: clamp(24px, 12vw, 160px);
}
.delivery-information {
    width: 50%;
}
.delivery-information h1 {
    font-size: clamp(20px, 2vw, 28px);
    color: #4e4e4e;
    margin-bottom: 2.5vw;
}
.delivery-info-inputs {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    margin: 1vw 0;
}
.delivery-info-inputs input {
    width: 100%;
    height: clamp(38px, 3vw, 48px);
    background-color: #F5F5F5;
    border: none;
    border-radius: 6px;
    padding: 0 clamp(10px, 1vw, 16px);
    box-sizing: border-box;
    font-size: clamp(13px, 1vw, 15px);
    outline: none;
    border: 1px solid #e1e1e1;
}
.cart-total-summary {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: clamp(12px, 1.5vw, 24px);
}
.cart-total-summary h1 {
    font-size: clamp(20px, 2vw, 28px);
    color: #4e4e4e;
}
.cart-total-summary ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.cart-total-summary .flx-cart-summary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(8px, 1vw, 16px) 0;
}
.cart-total-summary .flx-cart-summary.border {
    border-bottom: 1px solid #00000024;
}
.cart-total-summary .flx-cart-summary p {
    font-size: clamp(13px, 1.15vw, 16px);
    font-weight: 500;
    color: #4e4e4e;
}
.cart-total-summary .flx-cart-summary span {
    font-size: clamp(14px, 1.2vw, 17px);
    font-weight: 500;
    color: black;
}
.cart-total-summary button {
    width: fit-content;
    font-size: clamp(13px, 1.15vw, 16px);
    color: white;
    background-color: #FF4C24;
    border: none;
    padding: clamp(10px, 0.8vw, 14px) clamp(20px, 2vw, 32px);
    border-radius: 6px;
    cursor: pointer;
}
@media (max-width:768px) {
    .place-order-inner-container {
        flex-direction: column;
        gap: clamp(24px, 6vw, 160px);
        margin: 5vw auto 10vw auto;
    }
    .delivery-information {
        width: 100%;
    }
    .cart-total-summary {
        width: 100%;
    }
    .delivery-info-inputs {
        gap: 2vw;
        margin: 2vw 0;
    }
}