.addcategory-container {
    width: 60%;
}
.addcategory-container h2 {
    font-size: 2vw;
}
.addcat-input-container {
    width: 100%;
    margin: 2vw 0;
}
.addcat-input-container label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    font-size: 1.2vw;
    font-weight: 500;
}
.addcat-input-container img {
    width: 12vw;
    border-radius: 6px;
    cursor: pointer;
}
.addcat-input-container input[type='file'] {
    display: none;
}
.addcat-input-container input {
    width: 100%;
    height: clamp(38px, 3vw, 48px);
    background-color: #F5F5F5;
    border-radius: 6px;
    padding: 0 clamp(10px, 1vw, 16px);
    box-sizing: border-box;
    font-size: clamp(13px, 1vw, 15px);
    outline: none;
    border: 1px solid #e1e1e1;
}
.form-submission-container {
    width: 100%;
    margin-top: 2.5vw;
}
.form-submission-container button {
    width: fit-content;
    font-size: clamp(14px, 1.5vw, 18px);
    color: white;
    background-color: #FF4C24;
    border: none;
    border-radius: 8px;
    padding: 0.75vw 4vw;
    cursor: pointer;
}