@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
    padding: 0;
    margin: 0;
    font-family: Outfit;
    color: #49557E;
}
a {
    text-decoration-line: none;
}
h1,h2,h3,h4,h5,h6,p {
    color: #505050;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.app {
    width: 100%;
}
.app-content-loader {
    width: 90%;
    margin: auto;
}