.list-category-container {
    width: 100%;
}
.list-category-container h2 {
    font-size: 2vw;
}
.list-category-container table {
    width: 100%;
    border-collapse: collapse;
    margin: 2.5vw 0;
}
.list-category-container table thead tr th {
    font-size: 1.25vw;
    text-align: left;
    padding: 0.75vw 0;
    border-top: 1px solid #00000024;
    border-bottom: 1px solid #00000024;
    color: #505050;
}
.list-category-container table tbody tr {
    border-bottom: 1px solid #00000024;
}
.list-category-container table tbody tr td {
    font-size: 1.15vw;
    text-align: left;
    padding: 0.75vw;
}
.list-category-container table tbody tr td.remove {
    font-size: 1.5vw;
    font-weight: 500;
    cursor: pointer;
}
.list-category-container table tbody tr td img {
    width: 8vw;
    border-radius: 6px;
}